.border1 {
  border: 3px dashed pink;
}

.border2 {
  border-bottom: 2px solid darkblue;
  border-right: 6px solid salmon;
  border-bottom-right-radius: 12px;
}

.border3 {
  border-left: 8px solid red;
  background: lightsalmon;
  padding-left: 15px;
  color: aliceblue;
}
